body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #546E7A;
}

h1 {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  font-weight: 800;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  font-weight: 800;
  line-height: 36px;
  text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  font-weight: 800;
  line-height: 36px;
  text-align: center;
}

.heading {
  grid-area: headingArea;
  width: 60vw;
  height: 10vw;
}

.weather {
  grid-area: weatherArea;
  width: 15vw;
  height: 15vw;
}

.map {
  grid-area: mapArea;
  width: 30vw;
  height: 30vw;
}

#map {
  width: 30vw;
  height: 30vw;
}

.grid-container {
  display: grid;
  grid-template-areas: 'headingArea headingArea' 'mapArea weatherArea' 'mapArea weatherArea' 'footerArea footerArea';
  grid-gap: 10px;
  background: linear-gradient(#a1c4fd, transparent);
}

.grid-container>div {
  text-align: center;
}

.footer {
  grid-area: footerArea;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  color: white;
  text-align: center;
}